<h2>Editing track</h2>

<%= form_for @track do |f| %>
	<% if @track.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@track.errors.count, "error") %> prohibited this post from being saved:</h2>
	    <ul>
	    <% @track.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :description %>
	<%= f.text_field :description %>	

	<%= f.label :bpm %>
	<%= f.text_field :bpm %>

	<%= f.label :is_private, "Private?" %>
	<%= f.check_box :is_private %>

	<%= @track.collabs.count %>
	<% if @track.is_private? %>
		<div id="collabs">
			<%= f.fields_for :collabs do |collab| %>
				<%= render 'collab_fields', f: collab %>
			<% end %>
			<p><%= link_to_add_association 'add collaborator', f, :collabs %></p>
		</div>
	<% end %>

	<div class="form-actions">
		<%= f.button :submit, class: 'btn btn-primary' %>
	</div>
<% end %>

<%= link_to 'Show', @track %>

