<h1>All tracks</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>BPM</th>
      <th>Users</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>

        <td><%= track.title %></td>
        <td><%= track.description %></td>
        <td><%= track.bpm %></td>
        <td><%= link_to track.user.username, track.user %></td>
        <td><%= link_to 'Show', track %></td>
        <% if current_user == track.user %>
          <td><%= link_to 'Edit', edit_track_path(track) %></td>
          <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Track', new_track_path %>