<h2>New Track</h2>

<%= simple_form_for(@track, html: {class: "form-horizontal"}) do |t| %>
<%= t.error_notification %>

	<%= t.input :title %>
	<%= t.input :description %>
	<%= t.input :bpm %>

	<h2>Upload Stem: </h2>
	<%= t.fields_for :stems do |stems_form| %>
		<%= stems_form.input :title %>
		<p><%= stems_form.file_field :audio %></p>
	<% end %>

	<div class="form-actions">
		<%= t.button :submit, class: 'btn btn-primary' %>
	</div>
<% end %>

