<h1>New Track</h1>

<%= form_for @track do |t| %>
	<% if @track.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@track.errors.count, "error") %> prohibited this post from being saved:</h2>
	    <ul>
	    <% @track.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	<%= t.label :title %>
	<%= t.text_field :title %>

	<%= t.label :description %>
	<%= t.text_field :description %>	

	<p>Upload first stem: </p>
	<%= t.fields_for :stems do |stems_form| %>
		<%= stems_form.file_field :audio %>
	<% end %>

	<div class="form-actions">
		<%= t.button :submit, class: 'btn btn-primary' %>
	</div>
<% end %>

