<p id="notice"><%= notice %></p>
<p>	<%= link_to 'Add Stem', new_track_stem_path(@track) %> | 
	<%= link_to "Download All", "#" %> | 
<% if current_user == @track.user %>
<%= link_to "Queue", queue_track_path %>
<% end %>
</p>
<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @track.description %>
  <p>BPM: <%= @track.bpm %></p>
</p>
<p><button id="play_all">Play/Pause All</button> <button class="reset_transient">Reset</button></p>
<% @approved_stems.each do |stem| %>
	<h3><%= stem.title %></h3>
	<p>
		<audio controls="controls" class="audio_player">
			<source src= <%= stem.audio.url %> type="audio/mpeg">
		</audio>
	</p>
	<p>Uploaded by: <%= link_to stem.findUser.username, stem.findUser %> |
	<%= link_to "Download", stem.audio.url %> |
	<% if current_user == @track.user %>
	<%= link_to "Destroy", track_stem_path(@track, stem), method: :delete, data: {confirm: 'Are you sure you want to delete this stem?'} %>
	<% end %>
<% end %>


<p>
	<strong>User:</strong>
	<%= link_to @track.user.username, @track.user %>
</p>
<% if current_user == @track.user %>
	<%= link_to 'Edit Track', edit_track_path(@track) %> |
	<%= link_to 'Destroy', @track, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<h3>Comments</h3>
<%= render 'comments/show' %>
<p><%= render 'comments/form' %></p>
