<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @track.description %>
</p>
<% if current_user == @track.user %>
	<%= link_to 'Edit', edit_track_path(@track) %> |
<% end %>
<%= link_to 'Back', tracks_path %>