<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @track.description %>
</p>

<% @track.stems.each do |stem| %>
<%= stem.id %>
<p>
	<audio controls="controls">
		<source src= <%= stem.audio.url %> type="audio/mpeg">
	</audio>
</p>
<% end %>


<p>
	<strong>User:</strong>
<%= link_to @track.user.username, @track.user %>
</p>
<% if current_user == @track.user %>
	<%= link_to 'Edit', edit_track_path(@track) %> |
	<%= link_to 'Destroy', @track, method: :delete, data: { confirm: 'Are you sure?' } %>|
<% end %>
<%= link_to 'Back', tracks_path %>