<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
<%= devise_error_messages! %>

  <span class="username_move">
  <p> Username:&nbsp;&nbsp; <%= resource.username %> </p>
  </span>
  
  <%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %>

  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>



  <h2>Update Avatar</h2>
  <%= image_tag(@user.avatar.thumb.url) if @user.avatar? %>
  <p class="upload_avatar_move">Upload Avatar <%= f.file_field :avatar %></p>



  

  <div class="form-actions">
    <span class="edit_current_password"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></span>
    <span class="update_button"><%= f.submit "Update", class: "btn btn-primary"%></span>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
