<h2>New Stem</h2>
<%= simple_form_for(@stem, :url => track_stems_path, html: {:method => 'post', class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>


<%= f.input :title %>
<p>Upload first stem: <%= f.file_field :audio %></p>

<div class="form-actions">
	<%= f.button :submit, class: "btn btn-primary" %>
</div>

  <% end %>
