<!DOCTYPE html>
<html>
<head>
  <title>VIVIDAURA</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menu">
     <%= render 'layouts/menu' %>
  </div>
<div class="container">
	<% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  <% end %>
  	<div class="wrapper">
			<%= yield %>
		</div>
</div>

</body>
</html>
